body {
  padding: 32px 0 64px;

  /* font-family: sans-serif; */
  font-size: 14px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 16px 0 12px 0;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0 12px 0;
}

.content {
  width: 320px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    width: 480px;
  }
}

section {
  margin: 40px 0;
}

hr {
  border: none;
  border-top: 1px solid #b5b5b5;
  margin: 80px auto;
  padding: 0;
  width: 66%
}

.form-section {
  background-color: #f8f8f8;
  padding: 24px 16px;
}

.form-row {
  margin: 24px 0;
}

.form-row > label {
  display: block;
}

.form-row > label,
fieldset > legend {
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
}

input[type="text"] {
  padding: 4px 8px;
}

input[type="text"]:invalid {
  border-color: #cc0000;
}

.error-message {
  display: none;
  margin: 8px 0;

  font-size: 12px;
  color: #cc0000;
  font-style: italic;
}

.error-message.visible {
  display: block;
}

input[type="text"].source-textfield {
  width: calc(100% - 18.5px);
}

.cb-container {
  display: block;
  padding: 4px 0;
}

input[type="radio"] {
  margin: 4px 0 0 0;
  padding: 0;
}

input[type="radio"]:invalid {
  border-color: #cc0000;
}

input[type="radio"]:focus {
  outline: none;
}

input[type="radio"] + label{
  font-size: 14px;
}

input[type="submit"] {
  padding: 12px 16px;

  font-size: 14px;
}

.output-container {
  position: relative;
}

input[type="text"].slug-output {
  width: calc(100% - 18.5px);
}

.copy-slug-button {
  position: absolute;
  right: 0;
  top: 0;

  background-color: #3755ce;
  border: 2px solid #3755ce;
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0 8px;

  color: #f8f8f8;
  line-height: 0;
}

.copy-slug-button:hover {
  background-color: #f8f8f8;
}

.copy-slug-button svg {
  fill: #f8f8f8;
  width: 16px;
  height: 16px;
}

.copy-slug-button:hover svg {
  fill: #3755ce;
}

.about-section p, a {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.about-section p {
  margin: 8px 0;
}

.about-section ul {
  padding-left: 0;
}

.about-section ul li {
  font-size: 14px;
}